.testimonial-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}


.header   {
  position: absolute;
  top: 0;
  background-color:hsl(214, 56%, 58%) !important;
pointer-events: visiblePainted;
  transition: 0.15s ease-in;
  z-index: 3;
  color: #ffffff;
}
.navbar{
pointer-events: visiblePainted;
  z-index:3;
  background-color:hsl(214, 56%, 58%) !important;
top: 0;
  color: #ffffff;
}




/* Target smaller screens and active navbar */
@media (max-width: 990px) {
  .navbar.active {
    background-color: hsl(0, 0%, 100%) !important;
    color: hsl(0, 0%, 0%);
  }
}
