.testimonial-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
  background-color:hsl(214, 56%, 58%) !important;
  color: #ffffff;
}

