<section class="hero" id="hero">
  <div class="container">
      <img src="./assets/images/hero-banner.jpg" alt="Hero Image" class="hero-background">
      
      <h2 class="h1 hero-title">Journey to explore world</h2>

      <p class="hero-text">
          Ac mi duis mollis. Sapiente? Scelerisque quae, penatibus? Suscipit class corporis nostra rem quos
          voluptatibus habitant?
          Fames, vivamus minim nemo enim, gravida lobortis quasi, eum.
      </p>

      <div class="btn-group">
          <button class="btn btn-primary">Learn more</button>
          <button class="btn btn-secondary" (click)="scrollTo('toursearch')">Book now</button>

      </div>

  </div>
</section>




  
