
<div>
  <app-nav-bar [profileImage]="profile?.imageUrl"></app-nav-bar>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css" rel="stylesheet">
<!-- Card Section -->
<section  class="card-section">
  <div class="page-content" style="  font-family:  --ff-poppins ;">
    <div class="card-container">
      <div class="user-card">
        <div class="user-profile">
          <div class="profile-content">
            <img [src]="profile?.imageUrl" class="profile-img" alt="User-Profile-Image">
            <h6 class="profile-name"></h6>
            <p class="profile-title"></p>
            <i class="mdi mdi-square-edit-outline feather icon-edit" (click)="GoToEditForm()"></i>
          </div>
        </div>
        <div class="user-info">
          <h6 class="info-title">Personal Information</h6>
          <div class="info-details">
            <div class="info-item">
              <p class="info-label">First Name</p>
              <h6 class="info-value">{{profile?.firstName}} {{profile?.lastName}}</h6>
            </div>
            <div class="info-item">
              <p class="info-label">Last Name</p>
              <h6 class="info-value">{{profile?.firstName}} {{profile?.lastName}}</h6>
            </div>

          </div>
          <div class="info-details">
            <div class="info-item">
              <p class="info-label">Date Of Birth</p>
              <h6 class="info-value">{{profile?.dateOfBirth |date:'dd MMMM yyyy'}} </h6>
            </div>
            <div class="info-item">
              <p class="info-label">Phone Number</p>
              <h6 class="info-value">{{profile?.phoneNumber}}</h6>
            </div>

    </div>
            <div class="info-details">
              <div class="info-item">
                <p class="info-label">Address</p>
                <h6 class="info-value">{{profile?.state}},{{profile?.city}},{{profile?.street}}</h6>
              </div>
              <div class="info-item">
              <p class="info-label">Joined At</p>
              <h6 class="info-value">{{profile?.createdAt|date:'dd MMMM yyyy'}}</h6>
            </div>
          </div>
          <h6 class="info-title projects-title">Account Information</h6>
          <div class="info-details">
            <div class="info-item">
              <p class="info-label">Email</p>
              <h6 class="info-value">{{profile?.email}}</h6>
            </div>
            <div class="info-item">
            <p class="info-label">User Name</p>
            <h6 class="info-value">{{profile?.userName}}</h6>
          </div></div>
          <ul class="social-links">
            <li><a href="#!" title="Facebook"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
            <li><a href="#!" title="Twitter"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
            <li><a href="#!" title="Instagram"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<div>
  <app-footer></app-footer>
</div>