<div class="container">
  <div class="table">
    <div class="table-header">
      <div class="header__item"><a id="name" class="filter__link" href="#">Hotel Name</a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">User Name</a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Booking Status</a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Total Price</a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">checkindate </a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">checkoutdate </a></div>
      <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Manage</a></div>
    </div>

    <div class="table-content">
      @for ( booking of bookings; track $index) {
        <div class="table-row">
          <div class="table-data">{{ booking.hotelName }}</div>
          <div class="table-data">{{ booking.userName }}</div>
          <div class="table-data">{{ booking.bookingStatus }}</div>
          <div class="table-data">{{ booking.totalPrice }}</div>
          <div class="table-data">{{ booking.checkInDate | date : "dd MMMM yyyy"}}</div>
          <div class="table-data">{{ booking.checkOutDate | date : "dd MMMM yyyy" }}</div>

          <div class="table-data"><div class="table-data"><i class="fas fa-edit" style="cursor: pointer;"></i><i class="fas fa-trash" style="cursor: pointer; margin-left:20px;"></i></div>
        </div>

        </div>
      }
    </div>
  </div>
</div>
