<header
  class="header"
  data-header
  [class.active]="isSticky"
  style="border-style: none"
>
  <div
    class="overlay"
    data-overlay
    [class.active]="isNavActive"
    (click)="toggleNav()"
  ></div>

  <div class="header-top">
    <div class="container">
      <a href="tel:+01123456790">
        <div>
          <!-- <i class="fa fa-phone"></i> -->
        </div>
        <div>
          <!-- <p class="helpline-title">For Further Inquires :</p>
          <p class="helpline-number">+01 (123) 4567 90</p> -->
        </div>
      </a>

      <a href="#" class="logo">
        <img src="./assets/images/logo.svg" alt="Tourly logo" />
      </a>

      <div class="header-btn-group">
        <button class="search-btn" aria-label="Search">
          <i class="fa fa-search"></i>
        </button>
        <button
          class="nav-open-btn"
          aria-label="Open Menu"
          data-nav-open-btn
          (click)="toggleNav()"
        >
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="">
      <ul class="social-list">
        <!-- <li><a href="#" class="social-link"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="social-link"><i class="fa fa-youtube"></i></a></li> -->
      </ul>

      <nav class="navbar" data-navbar [class.active]="isNavActive">
        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="./assets/images/logo-blue.svg" alt="Tourly logo" />
          </a>
          <button
            class="nav-close-btn"
            aria-label="Close Menu"
            data-nav-close-btn
            (click)="toggleNav()"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>

        <ul class="navbar-list">
          <li>
            <a
              routerLink="/"
              class="navbar-link"
              (click)="toggleNav()"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li>
            <a
              class="navbar-link"
              (click)="scrollTo('destination'); toggleNav()"
            >
              <i class="fas fa-map-marker-alt"></i> Popular Destinations
            </a>
          </li>
          <li>
            <a
              class="navbar-link"
              (click)="scrollTo('websitereview'); toggleNav()"
              >Review</a
            >
          </li>
          <li><a class="navbar-link" (click)="toggleNav()">Trip plan</a></li>
          <li>
            <a class="navbar-link" routerLink="/aboutus" (click)="toggleNav()"
              >About Us</a
            >
          </li>

          <li>
            <a class="navbar-link" (click)="scrollTo('contact'); toggleNav()"
              >Contact</a
            >
          </li>
          <li class="navbar-list">
            @if(IsLoggedIn){

            <ul class="navbar-list">
              <li class="dropdown">
                <div class="dropdown-toggle" (click)="toggleDropdown()">
                  <a class="navbar-link">
                    <img
                      [src]="`${root}${profile?.imageUrl}`"
                      class="avatar-img"
                      alt="User Avatar"
                    />
                  </a>
                  <span class="navbar-link"> {{ profile?.userName }}</span>
                  <span class="arrow" [ngClass]="{ up: isDropdownOpen }"></span>
                </div>
                <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
                  <a href="#" class="dropdown-item" routerLink="/profile"
                    >Profile</a
                  >
                  <button class="dropdown-item" (click)="logout()">
                    Logout
                  </button>
                </div>
              </li>
            </ul>
            <!-- <a class="navbar-link" ><img [src]="`${root}${profileImage}`" alt="Profile Photo" class="" style="cursor: pointer;"></a> -->
            } @if(!IsLoggedIn){
            <button class="btn btn-primary" routerLink="/Login">Login</button>

            }
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<button
  class="go-top-btn"
  data-go-top
  [class.active]="isSticky"
  (click)="scrollToTop()"
  aria-label="Go to Top"
></button>
