<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <!-- LOGO -->
    <a href="#" class="navbar-logo">
      <img src="./assets/images/logo-blue.svg" alt="Logo">
    </a>

    <!-- Header Menu -->
    <div class="navbar-menu">
      <a href="#">
        <i class="icon ion-ios-analytics"></i>Dashboard
      </a>
      <a href="#">
        <i class="icon ion-ios-information-circle-outline"></i>Resources
      </a>
      <a href="#">
        <i class="icon ion-ios-help-buoy"></i>Support
      </a>
      <a href="#">
        <i class="icon ion-ios-notifications-outline"></i>
      </a>
      <!-- Avatar Menu -->
      <div class="avatar-menu">
        <img src="avatar.png" alt="Avatar">
        eCreeth
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
        <!-- Avatar Sub-Menu -->
        <div class="avatar-submenu">
          <a href="#">Account Settings</a>
          <hr>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>

    <!-- Toggle Menu Svg Icon -->
    <div class="menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
      </svg>
    </div>
  </div>
</nav>
<!-- END NAV -->

<div class="container">
  <div class="main">
    <!-- ASIDE -->
    <div class="sidebar">
      <!-- First Aside Menu -->
      <div class="sidebar-section">
        <div class="sidebar-header">Configuraciones</div>
        <div class="sidebar-menu">
          <a href="#" class="menu-item">
            <i class="icon ion-person"></i>Users
          </a>
          <a href="#" class="menu-item">
            <i class="icon ion-home"></i>Rooms
          </a>
          <a href="#" class="menu-item">
            <i class="icon ion-bed"></i>Hotels
          </a>
          <a href="#" class="menu-item">
            <i class="icon ion-map"></i>Cities
          </a>
        </div>
      </div>
    </div>
    <!-- END ASIDE -->
  </div>
</div>